body {
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px;
}

.sidebar {
  padding: 10px;
  height: 500px;
  float: left;
  width: 30%;
}

.post {
  padding: 20px;
  float: left;
  width: 60%;
}

h1,
h2 {
  padding: 0;
}

ul,
li {
  margin: 0;
}

.post p {
  font-size: larger;
  font-family: Georgia, serif;
}

.comments {
  margin-top: 40px;
}

/* https://codepen.io/mandelid/pen/vwKoe */
.spinner {
  display: inline-block;
  transition: opacity linear 0.1s;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  opacity: 0;
}
.spinner--active {
  opacity: 1;
}

.loaderContainer {
  width: 100%;
  height: 10px;
  background-color: white;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.loader_body {
  height: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}